

@tailwind base;
@tailwind components;
@tailwind utilities;
 body {

  background-color: #f7fafc;    /* Add a background color */}


  :root {
    --svg-color: #f7fafc; /* Define a variable named --custom-color with the value rgb(2, 6, 23) */
  }

  /* Banner text animation */
@keyframes bannerSlideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner-text-animation {
  animation: bannerSlideIn 0.6s ease-in-out forwards;
  -webkit-animation: bannerSlideIn 0.6s ease-in-out forwards;
}


/* For WebKit browsers */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #181717; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
